In [3]:
# Dependencies
import requests
import json
from census import Census
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#
search_term = "food"
location = "94105"
url = f"https://api.yelp.com/v3/businesses/search?term={search_term}&location={location}s"
headers = {"Authorization": "Bearer eqv9rUf8Y3We9JySuD-f3nCFgizPLSC7xFTFniVcFZeg7EOvOdeosMMBBMKe6cHI06LgK6JwytxaoR_qbfBLEYm9L22iIkr-Hx_NgDl6RecKfFOgJrWYTE8nWxKiWnYx"}
api_key = "163c9ca6a82a0b348edd39cb2e107c854dfcc3e0"

# Census API Key
c = Census(api_key, year=2016)

In [9]:
census_data = c.acs5.get(("B01003_001E", 
                          "B01002_001E",
                          "B19013_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B02001_002E",
                          "B02001_003E",
                          "B02001_005E",
                          "B03001_003E",
                         ), {'for': 'zip code tabulation area:*'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd.rename(columns={"B01003_001E": "Population",
                          "B01002_001E": "Median Age",
                          "B19013_001E": "Household Income",
                          "B19301_001E": "Per Capita Income",
                          "B17001_002E": "Poverty Count",
                          "B02001_002E": "White",
                          "B02001_003E": "Black",
                          "B02001_005E": "Asian",
                          "B03001_003E": "Hispanic",
                          "zip code tabulation area": "Zipcode"},
                 inplace=True)

census_pd.head()

,Median Age,Population,White,Black,Asian,Hispanic,Poverty Count,Household Income,Per Capita Income,Zipcode
0,45.0,17423.0,15974.0,256.0,703.0,1314.0,1462.0,56714.0,30430.0,01001
1,23.2,29970.0,23459.0,1711.0,3502.0,1870.0,8351.0,48923.0,26072.0,01002
2,19.9,11296.0,8698.0,660.0,1538.0,526.0,54.0,2499.0,3829.0,01003
3,44.1,5228.0,5063.0,105.0,32.0,77.0,230.0,70568.0,32169.0,01005
4,42.5,14888.0,13906.0,125.0,443.0,305.0,1410.0,80502.0,36359.0,01007