In [6]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
from census import Census
from us import states

In [38]:
# Import zip codes file as DataFrame
zip_code_pd = pd.read_csv("ca_zip_code.csv")
api_key = "163c9ca6a82a0b348edd39cb2e107c854dfcc3e0"
c = Census(api_key, year=2016)
census_csvdata = pd.read_csv("census_pd.csv")
yelp_csvdata = pd.read_csv("output_data_file.csv")
zip_code_pd.head()

   Zip Code
0     90001
1     90002
2     90003
3     90004
4     90005

In [8]:
yelp_key = "tWK7hcKXRkkiHliqyI9MWEcGAhlO9wklZVlMk3aeY5ia7Cx834nkf8WTVVwQS3-F-dip_nXgpuOSbUB0sA-iY8IvO0g97y1gXMftPwhAWu9loX_9IChdZkDt8SykWnYx"

In [9]:
# Create dataframe to store Yelp Data
yelp_data = pd.DataFrame();

# Setup the DataFrame to have appropriate columns
yelp_data["Zip Code"] = ""
yelp_data["Review Count"] = ""
yelp_data["Price"] = ""
yelp_data["Average Rating"] = ""


# Include Yelp Token
headers = {"Authorization": "Bearer tWK7hcKXRkkiHliqyI9MWEcGAhlO9wklZVlMk3aeY5ia7Cx834nkf8WTVVwQS3-F-dip_nXgpuOSbUB0sA-iY8IvO0g97y1gXMftPwhAWu9loX_9IChdZkDt8SykWnYx"}
counter = 0

    
# Loop through every zip code
for index, row in zip_code_pd.iterrows():
    
    set_count = (index // 50) + 1  # integer division
    record_count = (index % 50) + 1  # remainder
    
    # Create endpoint URLs:
    target_url_yelp = "https://api.yelp.com/v3/businesses/search?term=food&location=%s" % (row["Zip Code"])
    
    
    # Get the Yelp Reviews
    yelp_reviews = requests.get(target_url_yelp, headers=headers).json()
    
    
    # Calculate the total reviews and weighted rankings
    review_count = 0
    price = ""
    weighted_review = 0
    
    try:
        
        # Loop through all records to calculate the review count and weighted review value
        for business in yelp_reviews["businesses"]:

            review_count = review_count + business["review_count"]
            price = ""
            weighted_review = weighted_review + business["review_count"] * business["rating"]

        
        # Append the data to the appropriate column of the data frames
        yelp_data.set_value(index, "Zip Code", row["Zip Code"])
        yelp_data.set_value(index, "Review Count", review_count)
        yelp_data.set_value(index, "Price", price)
        yelp_data.set_value(index, "Average Rating", weighted_review / review_count)


    except:
        print("Uh oh")

Uh oh
Uh oh
Uh oh
Uh oh
Uh oh
Uh oh
Uh oh
Uh oh

In [10]:
yelp_data.head()

  Zip Code Review Count Price Average Rating
0    90001         4687              3.99563
1    90002         5997              4.16091
2    90003         8406              4.28242
3    90004        13840              4.23916
4    90005        12918              4.36565

In [38]:
# Export the City_Data into a csv
#yelp_data.to_csv("output_data_file.csv", encoding="utf-8", index_label="Zip Code")

In [15]:
# yelp_key = "tWK7hcKXRkkiHliqyI9MWEcGAhlO9wklZVlMk3aeY5ia7Cx834nkf8WTVVwQS3-F-dip_nXgpuOSbUB0sA-iY8IvO0g97y1gXMftPwhAWu9loX_9IChdZkDt8SykWnYx"
# # Include Yelp Token
# headers = {"Authorization": "Bearer tWK7hcKXRkkiHliqyI9MWEcGAhlO9wklZVlMk3aeY5ia7Cx834nkf8WTVVwQS3-F-dip_nXgpuOSbUB0sA-iY8IvO0g97y1gXMftPwhAWu9loX_9IChdZkDt8SykWnYx"}
# counter = 0
# target_url_yelp = "https://api.yelp.com/v3/businesses/search?term=food&location=%s" % ("94105")
# yelp_reviews = requests.get(target_url_yelp, headers=headers).json()

In [35]:
census_data = c.acs5.get(("B01003_001E", 
                          "B01002_001E",
                          "B19013_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B02001_002E",
                          "B02001_003E",
                          "B02001_005E",
                          "B03001_003E",
                         ), {'for': 'zip code tabulation area:*'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd.rename(columns={"B01003_001E": "Population",
                          "B01002_001E": "Median Age",
                          "B19013_001E": "Household Income",
                          "B19301_001E": "Per Capita Income",
                          "B17001_002E": "Poverty Count",
                          "B02001_002E": "White",
                          "B02001_003E": "Black",
                          "B02001_005E": "Asian",
                          "B03001_003E": "Hispanic",
                          "zip code tabulation area": "Zip Code"},
                 inplace=True)

census_pd.to_csv("census_pd2.csv")

In [36]:
yelp_csvdata.head()

   Zip Code  Review Count  Price  Average Rating
0     90001          3056    NaN        3.917866
1     90002          4943    NaN        4.124924
2     90003          6564    NaN        4.249543
3     90004         12633    NaN        4.260548
4     90005         13671    NaN        4.324738

In [39]:
census_csvdata.head()

,Median Age,Population,White,Black,Asian,Hispanic,Poverty Count,Household Income,Per Capita Income,Zip Code
0,28.0,57942,20811,5153,97,52223,18902,34323,11294,90001
1,27.5,51826,19573,11188,311,39527,18302,32520,11212,90002
2,28.0,70208,18114,16206,180,53630,24556,31878,10611,90003
3,35.5,63095,25611,2405,15870,31965,12919,43180,29194,90004
4,33.9,39338,7471,2213,13289,20199,11520,31485,20265,90005

In [43]:
yelp_census_data = census_csvdata.merge(yelp_csvdata,on="Zip Code", how='outer')

yelp_census_data.head()

,Median Age,Population,White,Black,Asian,Hispanic,Poverty Count,Household Income,Per Capita Income,Zip Code,Review Count,Price,Average Rating
0,28.0,57942.0,20811.0,5153.0,97.0,52223.0,18902.0,34323.0,11294.0,90001,3056,NaN,3.917866
1,27.5,51826.0,19573.0,11188.0,311.0,39527.0,18302.0,32520.0,11212.0,90002,4943,NaN,4.124924
2,28.0,70208.0,18114.0,16206.0,180.0,53630.0,24556.0,31878.0,10611.0,90003,6564,NaN,4.249543
3,35.5,63095.0,25611.0,2405.0,15870.0,31965.0,12919.0,43180.0,29194.0,90004,12633,NaN,4.260548
4,33.9,39338.0,7471.0,2213.0,13289.0,20199.0,11520.0,31485.0,20265.0,90005,13671,NaN,4.324738